.grid {
  list-style: none;
  text-align: center;
  display: grid;
}
.ulul div {
  width: 70rem;
  margin: 2rem auto;
}

.box {
  text-align: center;
}

.table {
  /* margin: auto 0; */
  padding: 12px;
  width: 100%;
  /* margin-left: 10px; */
  border: 2px solid #a9e2c6;
  border-radius: 3px;
}
