/* 일단 제가 하는 todo페이지만 폰트 먹어놨어요 말하시면 전역으로 먹이겠음 */

main {
  text-align: center;
  font-family: "roboto", sans-serif;
}

section {
  width: 40rem;
  margin: 5rem auto;
  background-color: rgb(196, 184, 231);
  border-radius: 1rem;
}

ul {
  list-style: decimal;
  margin: 0rem 2rem;
  padding: 1rem;
}

input {
  border-radius: 5px;
  border-color: blueviolet;
}

button {
  border-radius: 0.2rem;
}

button:hover {
  background-color: rgb(180, 180, 231);
}
