.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.logo {
  height: 100%;
}

.navigation li {
  margin-right: 1rem;
}

.icon {
  margin-left: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon svg {
  width: 2em;
  height: 2rem;
}
