.board-form {
    width: 50rem;
}

.board-form-input textarea {
    width: 80%;
}

.board-item {
    width: 50rem;
    height: 100px;
    margin: 2rem auto;
    margin-bottom: 80px;
}

.board-item-title {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.board-item-title .boardTitle {
    font-weight: bold;
    font-size: 1.2rem;
}

.board-item-function {
    display: flex;
    justify-content: flex-end;

}