.board-form {
    width: 50rem;
}

.board-form-input textarea {
    width: 80%;
}

.board-item {
    width: 50rem;
    height: 100px;
    margin: 2rem auto;
    margin-bottom: 80px;
    background-color: white;
    border-radius: 15px;
}

.board-item-title {
    border-bottom: 1px solid grey;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.board-item-title .boardTitle {
    font-weight: bold;
    font-size: 1.2rem;
}

.board-item-content {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 3px;
}

.board-item-date {
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.board-item-function {
    display: flex;
    justify-content: flex-end;

}

.loading {
    text-align: center;
    color: orange;
    font-size: 100px;
}