/* Header CSS */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(154, 161, 237);
  padding: 0 30px;
  font-weight: bold;
}

.main-header Link {
  width: 200px;
}

.main-header ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.main-header li {
  margin: 0 20px;
}

.main-header a {
  text-decoration: none;
}

.main-header nav a {
  color: rgb(20, 20, 150);
}

.main-header nav a:hover {
  background-color: rgb(171, 175, 223);
  border-radius: 4px;
  padding: 2px;
}

.drawer-btn {
  display: flex;
  flex-direction: column;
  width: 2rem;
  height: 2rem;
  justify-content: space-around;
  padding: 0.1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.drawer-btn span {
  width: 2rem;
  height: 2px;
  background-color: rgb(20, 20, 150);
}
