.list_styles button {
  background-color: rgb(188, 240, 235);
  border-radius: 4px;
  font-weight: bold;
  margin: 0 auto;
  width: 100px;
}

.list_styles button:hover {
  background-color: rgb(144, 236, 227);
}

.list_body {
  margin: 10px auto;
}

.list_table {
  text-align: center;
  margin: 1rem auto;
  padding: 2rem;
  border-radius: 4px;
  border-color: rgb(144, 236, 227);
  border-width: 2px;
}

.list_table button {
  all: unset;
  cursor: pointer;
  background-color: rgb(220, 244, 236);
  border-radius: 4px;
  padding: 0.5rem;
}

.list_table button:hover {
  background-color: antiquewhite;
  border-radius: 4px;
}

.list_table td {
  padding: 10px;
}

.search-styles input {
  text-align: center;
  margin: 10px 10px;
  border-radius: 4px;
  width: 200px;
}
