.list_styles button {
  background-color: rgb(188, 240, 235);
  border-radius: 4px;
  font-weight: bold;
  margin: 0 auto;
  width: 100px;
}

.list_styles button:hover {
  background-color: rgb(144, 236, 227);
}

.list_body {
  border-radius: 4px;
  border-bottom: 2px solid rgb(9, 78, 71);
}

.list_table {
  text-align: center;

  margin: 3rem auto;
  padding: 0.5rem;
}
