.board-item {
    width: 50rem;
    margin: 2rem auto;
}

.board-item-title {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.board-item-title .boardTitle {
    font-weight: bold;
    font-size: 1.2rem;
}

.board-item-function {
    display: flex;
    justify-content: flex-end;

}