<!-- 
    세션을 획득하지 못했을 때 나타나는 페이지
 -->
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/board_til.css" />
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Not authenticated!</h1>
    <p>You are not authenticated and therefore not allowed to access this page!</p>
  </main>
</body>
</html>