<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Write!</title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <form action="/yjBoard/write" method="POST">
        <table>
          <tr>
            <td>제목</td>
            <td>
              <input type="text" name="boardTitle" id="boardTitle" required />
            </td>
          </tr>
          <tr>
            <td>내용</td>
            <td>
              <textarea
                name="boardContent"
                id="boardContent"
                required
                rows="5"
              ></textarea>
            </td>
          </tr>
        </table>
        <button>글 추가</button>
      </form>
    </main>
  </body>
</html>
