<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JJs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <script src="/js/main.js" defer></script>
    <script src="/js/header.js" defer></script>
  </head>

  <body>
    <!-- 
        Header: 공통 영역
        메인 배너 / 로그인, 로그아웃 등
        추 후 컴포넌트화 예정이며 기능도 추가하자!
    -->
    <header class="main-header">
      <a href="/index.html" id="main-logo">YJHJ</a>
      <nav>
        <ul>
          <li><a href="/board/YJ_Board.html">BoardYJ-TIL</a></li>
          <li><a href="/hjBoard">BoardHJ-TIL</a></li>
        </ul>
      </nav>
      <a href="" class="main-btn">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </header>
    <main>
      <section class="todoStyle">
        <!-- todo input box 
          
          -->
        <h2>TODO-LIST!</h2>
        <label for="todoInput">TO-DO!</label>
        <div>
          <input
            type="text"
            id="todoInput"
            name="todoInput"
            placeholder="what?"
          />
          <button id="todoBtn">추가</button>
        </div>

        <!-- <div></div>   입력된 todo의 List -->
        <ul>
          <li id="todoList">안녕하십니까요?</li>
        </ul>

        <button onclick="todoUpdate()">수정</button>
        <button onclick="todoDelite()">삭제</button>
      </section>

      <!-- 
        Footer: 공통 영역
     -->
      <footer>
        <div>Footer K</div>
      </footer>
    </main>
  </body>
</html>
