<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
    <script src="/js/login.js" defer></script>
     <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <body>
    <header class="main-header">
      <a href="/" id="main-logo">YJHJ</a>
      <nav>
        <ul>
          <li><a href="/yjBoard">BoardYJ-TIL</a></li>
          <li><a href="/hjBoard">BoardHJ-TIL</a></li>
          <li><a href="/approvalList">Approval</a></li>
        </ul>
      </nav>
      <nav>
        <ul>
          <li><a href="/signup">SignUp</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </header>
  <body>
    <div id="login-section">
      <form class="login-form" action="/login" method="POST">
        <h1>로그인</h1>
        ID : <input id="id" type="text" name="userid" placeholder="아이디를 입력하세요" />
        <br />
        PW :
        <input id="password" type="text" name="password" placeholder="비밀번호를 입력하세요" />

        <button id="login-btn">로그인</button>
      </form>
    </div>
  </body>
</html>
