<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
    <script src="/js/login.js" defer></script>
     <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <body>
   <%- include('includes/header') %>
  <body>
    <div class="login-section">
      <form class="login-input" action="/login" method="GET">
        <h1>Login</h1>
				<div class="login-id">
        <input id="id" type="text" placeholder="아이디" name="userid"/>
				</div>
				<div class="login-pw">
        <input id="password" type="text" placeholder="비밀번호" name="password"/>
					</div>
					<div class="login-btn">
        <button>Login</button>
				</div>
				<div class="idpw"><a href="">아이디 찾기 </a><a href=""> / 비밀번호 찾기</a></div>
      </form>
    </div>
  </body>
</html>
