<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Write!</title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <body>
    <header>
      <header class="main-header">
        <a href="/" id="main-logo">YJHJ</a>
        <nav>
          <ul>
            <li><a href="/yjBoard">BoardYJ</a></li>
            <li><a href="/hjBoard">BoardHJ</a></li>
          </ul>
        </nav>
      </header>
    </header>
    <main>
      <table>
        <tr>
          <td>제목</td>
          <td><input type="text" name="title" /></td>
        </tr>
        <tr>
          <td>내용</td>
          <td>
            <textarea name="content"></textarea>
          </td>
        </tr>
      </table>
      <button>게시글 추가</button>
    </main>
  </body>
</html>
