<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YJ_Board</title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <body>
    <header class="main-header">
      <a href="/" id="main-logo">YJHJ</a>
      <nav>
        <ul>
          <li><a href="/board/YJ_Board.html">BoardYJ</a></li>
          <li><a href="/board/HJ_Board.html">BoardHJ</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>게시물 리스트</h2>
      <!-- <section>
        <ul>
          <li>게시글번호, 제목, 내용, 저자, 시간</li>
          <li></li>
          <li></li>
        </ul>
        <button type="">추가</button>
      </section> -->
    </main>
  </body>
</html>
