<body>
  <header class="main-header">
    <a href="/" id="main-logo">YJHJ</a>
    <nav>
      <ul>
        <li><a href="/yjBoard">BoardYJ-TIL</a></li>
        <li><a href="/hjBoard">BoardHJ-TIL</a></li>
        <li><a href="approval/approvalList">Approval</a></li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li><a href="/signup">SignUp</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
  </header>
</body>
