/* 전역 css */
/* 공통 css 정의 */
body {
    font-size: 24px;
    margin: 0;
}

#main-logo {
    font-size: 40px;
    font-weight: bold;
    color: rgb(100, 20, 100);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}

.base_form {
    /* width: 80%; */
    max-width: 50rem;
    margin: 3rem auto;
}

/* 
전역적으로 버튼 모음 디자인을 위해 사용
*/
.btn_area {
    display: flex;
}

.main-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-btn span {
    width: 100%;
    height: 3px;
    background-color: blue;
}

/* 
전역 용도 button
*/
.btn-create {
    background-color: blue;
    color: white;
}

.btn-update {
    background-color: green;
    color: white;
}

.btn-search {
    background-color: #21ae8c;
    color: white;
}