<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/common.css" />
    <title>Document</title>
  </head>

  <body>
    <%- include('includes/header') %>
    <main class="base_form">
      <h1>Approval List</h1>
      <div>
        <div class="btn_area">
          <button class="btn-search">
            <a href="/approval/approvalRequest">기안</a>
          </button>
        </div>
        <div>
          <table>
            <colgroup>
              <col width="25%" />
              <col width="25%" />
              <col width="25%" />
              <col width="25%" />
            </colgroup>
            <thead>
              <tr>
                <th>순번</th>
                <th>제목</th>
                <th>결재상황</th>
                <th>작성자</th>
              </tr>
            </thead>
            <tbody>
              <% for(const approval of approvals ){ %>
              <tr>
                <td></td>
                <td><%= approval.title %></td>
                <td></td>
                <td></td>
              </tr>
              <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>
